body {
	background: #fff;
	margin: 0;
	padding: 20px;
	line-height: 1.4em;
	font-family: tahoma, arial, sans-serif;
}
 
table {
	width: 100%;
	margin: 0 0 10px 0;
	background: #FFFFFF;
	border: 1px solid #333333;
	border-collapse: collapse;
	font-size: 100%;
}
 
td, th {
	border-bottom: 1px solid #333333;
	padding: 2px 2px;
	text-align: left;
}
 
th {
	background: #EEEEEE;
	text-align: center;
}

#v {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid black;
}