body {
	background: #eee;
	margin: 0;
	padding: 20px;
	line-height: 1.4em;
	font-family: tahoma, arial, sans-serif;
}

#image {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#progressLabel {
	text-align: center;
}

#menu {
	height: 279px;
}

#timeline {
	text-align: center;
}

.thumbnail {
	margin: 20px 5px;
}

.fixed-menu {
	z-index: 9999px;
	position: fixed;
	top: 0;
	left: 20px;
	right: 20px;
}

.timestamp {
	position: absolute;
  	bottom: 0px;
  	text-align: center;
  	width: 100%;
}
